* {
  box-sizing: border-box;
}

header{
  background-color: blue;
  width: 100%;
  text-align: center;
}

h1 {
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* search area stylings */
.city-search {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
  display: flex;
  flex-wrap: wrap;
}

.user-form {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn {
  width: 80%;
}

button {
  margin: 5px;
}
/* weather stylings */
.display-weather {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
  display: flex;
  flex-wrap: wrap;
}

.current {
  width: 100%;
  border: 2px solid black;
  padding: 10px;
}

.current div {
  padding: 5px;
}

.forecast, h3 {
  width: 100%;
}

.forecast-cards {
  justify-content: space-evenly;
}

/* utility stylings */

.flex {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}